@use '../base/typography' as font;

$font-family : font.$font-jost;
$page_bg_color:#f5f5f5;
$primary_bg_color:#CDDF1B;
$secondary_bg_color:#21112E;
$mid_bg_color:#F9FBE3;
$light_txt_color:#ffffff;
$dark_txt_color:#333333;
$light_border_color:#e7e7e7;
$size_base:8px;

/* MEDIA QUERIES */
$bp_tablet_mobile: 768px;